<template>
  <div class="home">
    <ContactTable :contacts="favorites" header="Favorite contacts" :showActions="false" />
    <ContactTable
      :contacts="contacts"
      header="All contacts"
      @changeFavorite="changeFavorite"
      @removeContact="startRemovingContact"
      :showActions="true"
    />

    <v-card>
      <v-btn @click="addingNewContact=true">Add contact</v-btn>
      <v-dialog v-model="addingNewContact" persistent max-width="600px">
        <v-card>
          <v-card-title>
            <span>New contact</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field label="Name" required v-model="newContact.name"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field label="Surname" required v-model="newContact.surname"></v-text-field>
                </v-col>
                <v-col cols="12" sm="6" md="6">
                  <v-text-field label="Phone" required v-model="newContact.phone"></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field label="E-mail" required v-model="newContact.email"></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" text @click="cancelAddingContact">Cancel</v-btn>
            <v-btn color="blue darken-1" text @click="addContact">Add</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-card>

    <v-dialog v-model="removingContact" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span>Removing contact</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <span>Are you sure you want to remove contact: {{contactToRemove.name}} {{contactToRemove.surname}}</span>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer />
          <v-btn color="blue darken-1" text @click="cancelRemovingContact">Cancel</v-btn>
          <v-btn color="blue darken-1" text @click="removeContact">Remove</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import ContactTable from "@/components/ContactTable.vue";

export default {
  name: "home",
  data() {
    return {
      contacts: [],
      newContact: {
        id: 0,
        name: "",
        surname: "",
        phone: "",
        email: "",
        isFavorite: false
      },
      addingNewContact: false,
      removingContact: false,
      contactToRemove: {}
    };
  },
  components: {
    ContactTable
  },
  mounted() {
    this.contacts = JSON.parse(localStorage.getItem("contacts")) || [];
  },
  methods: {
    changeFavorite(contactId) {
      var contact = this.contacts.find(function(c) {
        return c.id === contactId;
      });
      if (contact) {
        contact.isFavorite = !contact.isFavorite;
      }
    },
    addContact() {
      if (
        this.newContact.name &&
        this.newContact.surname &&
        this.newContact.phone &&
        this.newContact.email
      ) {
        console.log(
          this.contacts.map(function(c) {
            return c.id;
          })
        );
        console.log(
          Math.max(
            this.contacts.map(function(c) {
              return c.id;
            })
          )
        );
        var ids = this.contacts.map(function(c) {
          return c.id;
        });
        this.newContact.id = this.contacts.length ? Math.max(...ids) + 1 : 1;
        this.contacts.push(this.newContact);
        localStorage.setItem("contacts", JSON.stringify(this.contacts));

        this.newContact = {
          id: 0,
          name: "",
          surname: "",
          phone: "",
          email: "",
          isFavorite: false
        };
        this.addingNewContact = false;
      } else {
        alert("All data are required to add new contact");
      }
    },
    cancelAddingContact() {
      this.newContact.name = "";
      this.newContact.surname = "";
      this.newContact.phone = "";
      this.newContact.email = "";

      this.addingNewContact = false;
    },
    startRemovingContact(contactId) {
      var contact = this.contacts.find(function(c) {
        return c.id == contactId;
      });
      if (contact) {
        this.contactToRemove = contact;
        this.removingContact = true;
      }
    },
    removeContact() {
      this.contacts.splice(this.contacts.indexOf(this.contactToRemove), 1);
      localStorage.setItem("contacts", JSON.stringify(this.contacts));
      this.removingContact = false;
    },
    cancelRemovingContact() {
      this.contactToRemove = {};
      this.removingContact = false;
    }
  },
  computed: {
    favorites() {
      return this.contacts.filter(function(c) {
        return c.isFavorite;
      });
    }
  }
};
</script>
