<template>
  <v-card>
    <v-card-title>
      <h2>{{header}}</h2>
    </v-card-title>
    <v-simple-table v-if="contacts.length">
      <template>
        <thead>
          <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>E-mail</th>
            <th>Phone number</th>
            <th v-if="showActions">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="contact in contacts" :key="contact.id">
            <td>{{contact.name}}</td>
            <td>{{contact.surname}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.phone}}</td>
            <td v-if="showActions">
              <v-btn icon @click="$emit('changeFavorite', contact.id)">
                <v-icon v-if="contact.isFavorite">{{starPath}}</v-icon>
                <v-icon v-else>{{starOutlinePath}}</v-icon>
              </v-btn>
              <v-btn icon @click="$emit('removeContact', contact.id)">
                <v-icon>{{deletePath}}</v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <p v-else>List of contacts is empty</p>
  </v-card>
</template>

<script>
import { mdiStar, mdiStarOutline, mdiDelete } from "@mdi/js";

export default {
  props: ["contacts", "header", "showActions"],
  data() {
    return {
      starPath: mdiStar,
      starOutlinePath: mdiStarOutline,
      deletePath: mdiDelete
    };
  }
};
</script>